<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <title>Blog : FortressJS - Fast, simple and secure NodeJS Web Framework</title>
      <meta name="description" content="Discover the first framework that combines lightspeed, high security level, and easy deployment.">
      <meta name="keywords" content="fortress, fast, simple, secure, nodejs, web, framework">

      <meta name="author" content="Labodudev">
      <!-- Mobile Specific Metas
      ================================================== -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta http-equiv="x-ua-compatible" content="IE=9">
  </head>
  <body>
    <div id="page" class="page">
      <h2>Article en AJAX</h2>
      <ul id="articles"></ul>

    </div>
    <script src="js-files/main.js" type="text/javascript"></script>
  </body>
</html>
